@tailwind base;
@tailwind components;
@tailwind utilities;
.expense-main {
  background-color: #f4f5f7;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  margin-left: 320px;
}
.expense-title {
  font-family: "Podkova", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 25px;
  color: #2260ff;
}
.total-card {
  font-family: "Podkova", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 22px;
  color: #2260ff;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cards-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.form-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 30%;
}
.income-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  width: 70%;
}
.input-forms {
  margin-bottom: 10px;
  height: 30px;
  width: 90%;
}
