.main-home {
  background-color: #f4f5f7;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  margin-left: 320px;
}
.header-main {
  top: 0;
  width: 100%;
  display: grid;
  height: 82px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 2px solid rgba(37, 100, 235, 0.5);
  padding: 0 20px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: #f4f5f7;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.top-row {
  display: flex;
  gap: 16px;
}

.top-row .card {
  flex: 1;
  flex-basis: 285px; /* Ensures consistent width */
}

.middle-row {
  display: flex;
  gap: 16px;
}

.portfolio-analytics {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.your-cards {
  flex: 1;
  background-color: #ffffff;
  color: #000000;
  font-size: large;
}

.recent-transactions {
  flex: 2;
}

.stocks-of-the-day {
  flex: 1;
}

@media (max-width: 768px) {
  .top-row,
  .middle-row,
  .bottom-row {
    flex-direction: column;
  }
}
